In [1]:
import pandas as pd
df1=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\1.csv")
df2=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\2.csv")
df3=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\3.csv")
df4=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\4.csv")
df5=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\5.csv")
df6=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\6.csv")
df7=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\7.csv")
df8=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\8.csv")
df9=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\9.csv")
df10=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\10.csv")
df11=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\11.csv")
df12=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\12.csv")
df13=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\13.csv")
df14=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\14.csv")
df15=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\15.csv")
df16=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\16.csv")
df17=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\17.csv")
combined_df=pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17], ignore_index=True)
combined_df

,AP1,angle_AP1,location_AP1,AP2,angle_AP2,location_AP2,AP3,angle_AP3,location_AP3,Unnamed: 9,cordinates of targeted node
0,-45,44.25,"(9.6,7.5)",-34,0.00,"(0,0)",-40,78.83,"(0,7.5)",NaN,"(1.5,0)"
1,-40,44.25,"(9.6,7.5)",-38,0.00,"(0,0)",-39,78.83,"(0,7.5)",NaN,"(1.5,0)"
2,-40,44.25,"(9.6,7.5)",-39,0.00,"(0,0)",-40,78.83,"(0,7.5)",NaN,"(1.5,0)"
3,-40,44.25,"(9.6,7.5)",-35,0.00,"(0,0)",-39,78.83,"(0,7.5)",NaN,"(1.5,0)"
4,-40,44.25,"(9.6,7.5)",-35,0.00,"(0,0)",-39,78.83,"(0,7.5)",NaN,"(1.5,0)"
...,...,...,...,...,...,...,...,...,...,...,...
846,-26,75.96,"(9.6,7.5)",-47,35.41,"(0,0)",-49,7.59,"(0,7.5)",NaN,"(9,6.4)"
847,-26,75.96,"(9.6,7.5)",-48,35.41,"(0,0)",-49,7.59,"(0,7.5)",NaN,"(9,6.4)"
848,-25,75.96,"(9.6,7.5)",-47,35.41,"(0,0)",-49,7.59,"(0,7.5)",NaN,"(9,6.4)"
849,-25,75.96,"(9.6,7.5)",-49,35.41,"(0,0)",-49,7.59,"(0,7.5)",NaN,"(9,6.4)"
850,-24,75.96,"(9.6,7.5)",-47,35.41,"(0,0)",-46,7.59,"(0,7.5)",NaN,"(9,6.4)"

In [2]:

combined_df = combined_df.loc[:, ~combined_df.columns.str.contains('^Unnamed')]
combined_df

,AP1,angle_AP1,location_AP1,AP2,angle_AP2,location_AP2,AP3,angle_AP3,location_AP3,cordinates of targeted node
0,-45,44.25,"(9.6,7.5)",-34,0.00,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
1,-40,44.25,"(9.6,7.5)",-38,0.00,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
2,-40,44.25,"(9.6,7.5)",-39,0.00,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
3,-40,44.25,"(9.6,7.5)",-35,0.00,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
4,-40,44.25,"(9.6,7.5)",-35,0.00,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
...,...,...,...,...,...,...,...,...,...,...
846,-26,75.96,"(9.6,7.5)",-47,35.41,"(0,0)",-49,7.59,"(0,7.5)","(9,6.4)"
847,-26,75.96,"(9.6,7.5)",-48,35.41,"(0,0)",-49,7.59,"(0,7.5)","(9,6.4)"
848,-25,75.96,"(9.6,7.5)",-47,35.41,"(0,0)",-49,7.59,"(0,7.5)","(9,6.4)"
849,-25,75.96,"(9.6,7.5)",-49,35.41,"(0,0)",-49,7.59,"(0,7.5)","(9,6.4)"
850,-24,75.96,"(9.6,7.5)",-47,35.41,"(0,0)",-46,7.59,"(0,7.5)","(9,6.4)"

In [3]:
combined_df=combined_df.loc[:,~combined_df.columns.str.contains('^label')]
combined_df

,AP1,angle_AP1,location_AP1,AP2,angle_AP2,location_AP2,AP3,angle_AP3,location_AP3,cordinates of targeted node
0,-45,44.25,"(9.6,7.5)",-34,0.00,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
1,-40,44.25,"(9.6,7.5)",-38,0.00,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
2,-40,44.25,"(9.6,7.5)",-39,0.00,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
3,-40,44.25,"(9.6,7.5)",-35,0.00,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
4,-40,44.25,"(9.6,7.5)",-35,0.00,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
...,...,...,...,...,...,...,...,...,...,...
846,-26,75.96,"(9.6,7.5)",-47,35.41,"(0,0)",-49,7.59,"(0,7.5)","(9,6.4)"
847,-26,75.96,"(9.6,7.5)",-48,35.41,"(0,0)",-49,7.59,"(0,7.5)","(9,6.4)"
848,-25,75.96,"(9.6,7.5)",-47,35.41,"(0,0)",-49,7.59,"(0,7.5)","(9,6.4)"
849,-25,75.96,"(9.6,7.5)",-49,35.41,"(0,0)",-49,7.59,"(0,7.5)","(9,6.4)"
850,-24,75.96,"(9.6,7.5)",-47,35.41,"(0,0)",-46,7.59,"(0,7.5)","(9,6.4)"

In [4]:
combined_df.columns

Index(['AP1', 'angle_AP1', 'location_AP1', 'AP2', 'angle_AP2', 'location_AP2',
       'AP3 ', 'angle_AP3', 'location_AP3', 'cordinates of targeted  node '],
      dtype='object')

In [7]:

combined_df.columns = ['AP1', 'angle_AP1', 'location_AP1', 'AP2', 'angle_AP2', 'location_AP2', 'AP3', 'angle_AP3', 'location_AP3' ,'target']
combined_df.head(55)

,AP1,angle_AP1,location_AP1,AP2,angle_AP2,location_AP2,AP3,angle_AP3,location_AP3,target
0,-45,44.25,"(9.6,7.5)",-34,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
1,-40,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
2,-40,44.25,"(9.6,7.5)",-39,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
3,-40,44.25,"(9.6,7.5)",-35,0.0,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
4,-40,44.25,"(9.6,7.5)",-35,0.0,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
5,-40,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
6,-41,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
7,-40,44.25,"(9.6,7.5)",-37,0.0,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
8,-40,44.25,"(9.6,7.5)",-39,0.0,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
9,-41,44.25,"(9.6,7.5)",-37,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
10,-41,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-41,78.83,"(0,7.5)","(1.5,0)"
11,-40,44.25,"(9.6,7.5)",-37,0.0,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
12,-39,44.25,"(9.6,7.5)",-40,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
13,-40,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
14,-40,44.25,"(9.6,7.5)",-40,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
15,-39,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
16,-40,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
17,-40,44.25,"(9.6,7.5)",-37,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
18,-40,44.25,"(9.6,7.5)",-37,0.0,"(0,0)",-41,78.83,"(0,7.5)","(1.5,0)"
19,-41,44.25,"(9.6,7.5)",-36,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
20,-41,44.25,"(9.6,7.5)",-40,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
21,-41,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
22,-41,44.25,"(9.6,7.5)",-37,0.0,"(0,0)",-41,78.83,"(0,7.5)","(1.5,0)"
23,-42,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
24,-44,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-41,78.83,"(0,7.5)","(1.5,0)"
25,-39,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
26,-40,44.25,"(9.6,7.5)",-36,0.0,"(0,0)",-41,78.83,"(0,7.5)","(1.5,0)"
27,-40,44.25,"(9.6,7.5)",-39,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
28,-41,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
29,-44,44.25,"(9.6,7.5)",-39,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
30,-42,44.25,"(9.6,7.5)",-39,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
31,-42,44.25,"(9.6,7.5)",-39,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
32,-44,44.25,"(9.6,7.5)",-39,0.0,"(0,0)",-41,78.83,"(0,7.5)","(1.5,0)"
33,-44,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-41,78.83,"(0,7.5)","(1.5,0)"
34,-40,44.25,"(9.6,7.5)",-37,0.0,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
35,-44,44.25,"(9.6,7.5)",-39,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
36,-44,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
37,-44,44.25,"(9.6,7.5)",-37,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
38,-44,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
39,-44,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
40,-44,44.25,"(9.6,7.5)",-40,0.0,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
41,-44,44.25,"(9.6,7.5)",-39,0.0,"(0,0)",-38,78.83,"(0,7.5)","(1.5,0)"
42,-44,44.25,"(9.6,7.5)",-36,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
43,-41,44.25,"(9.6,7.5)",-36,0.0,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
44,-40,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
45,-44,44.25,"(9.6,7.5)",-37,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
46,-44,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
47,-44,44.25,"(9.6,7.5)",-36,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
48,-44,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
49,-44,44.25,"(9.6,7.5)",-38,0.0,"(0,0)",-39,78.83,"(0,7.5)","(1.5,0)"
50,-44,44.25,"(9.6,7.5)",-37,0.0,"(0,0)",-40,78.83,"(0,7.5)","(1.5,0)"
51,-43,50.34,"(9.6,7.5)",-45,0.0,"(0,0)",-41,68.40,"(0,7.5)","(3,0)"
52,-43,50.34,"(9.6,7.5)",-48,0.0,"(0,0)",-37,68.40,"(0,7.5)","(3,0)"
53,-43,50.34,"(9.6,7.5)",-43,0.0,"(0,0)",-40,68.40,"(0,7.5)","(3,0)"
54,-43,50.34,"(9.6,7.5)",-48,0.0,"(0,0)",-39,68.40,"(0,7.5)","(3,0)"

In [8]:
combined_df.dtypes

AP1               int64
angle_AP1       float64
location_AP1     object
AP2               int64
angle_AP2       float64
location_AP2     object
AP3               int64
angle_AP3       float64
location_AP3     object
target           object
dtype: object