In [8]:
import pandas as pd
df1=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\1.csv")
df2=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\2.csv")
df3=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\3.csv")
df4=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\4.csv")
df5=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\5.csv")
df6=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\6.csv")
df7=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\7.csv")
df8=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\8.csv")
df9=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\9.csv")
df10=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\10.csv")
df11=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\11.csv")
df12=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\12.csv")
df13=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\13.csv")
df14=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\14.csv")
df15=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\15.csv")
df16=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\16.csv")
df17=pd.read_csv(r"C:\Users\ftska\all projects\sample_project_2\Mini_Project\data\17.csv")
combined_df=pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17], ignore_index=True)
combined_df

,AP1,Unnamed: 1,AP2,Unnamed: 3,AP3,Unnamed: 5,location,cordinates of targeted node,Unnamed: 8,Unnamed: 9,Angles,label
0,Scan 1: -45 dBm,NaN,Scan 1: -34 dBm,NaN,Scan 1: -40 dBm,NaN,"ap2(0,0)","(1.5,0)",NaN,NaN,ap2 0*,NaN
1,Scan 2: -40 dBm,NaN,Scan 2: -38 dBm,NaN,Scan 2: -39 dBm,NaN,"ap3(0,7.5)",NaN,NaN,NaN,ap3 78.83,NaN
2,Scan 3: -40 dBm,NaN,Scan 3: -39 dBm,NaN,Scan 3: -40 dBm,NaN,"ap1(9.6,7.5)",NaN,NaN,NaN,ap1 44.25,NaN
3,Scan 4: -40 dBm,NaN,Scan 4: -35 dBm,NaN,Scan 4: -39 dBm,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Scan 5: -40 dBm,NaN,Scan 5: -38 dBm,NaN,Scan 5: -40 dBm,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
893,-26,NaN,-48,NaN,-49,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,-25,NaN,-47,NaN,-49,NaN,NaN,NaN,NaN,NaN,NaN,NaN
895,-25,NaN,-49,NaN,-49,NaN,NaN,NaN,NaN,NaN,NaN,NaN
896,-24,NaN,-47,NaN,-46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
897,-25,NaN,-48,NaN,-50,NaN,NaN,NaN,NaN,NaN,NaN,NaN